version: '3'

networks:
  laravel:

services:
  site:
    build:
      context: .
      dockerfile: nginx.dockerfile
    container_name: nginx
    ports:
      - 8080:80
    volumes:
      - ./src:/var/www/html:delegated
    depends_on:
      - api
      - admin
      - redis
      - mysql
      - mailhog
    networks:
      - laravel

  mysql:
    image: mariadb:latest
    container_name: mysql
    restart: unless-stopped
    tty: true
    ports:
      - 3306:3306
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: homestead
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    networks:
      - laravel

  api:
    build:
      context: .
      dockerfile: php.dockerfile
    container_name: api
    volumes:
      - ./src:/var/www/html:delegated
    networks:
      - laravel

  admin:
    build:
      context: .
      dockerfile: php.dockerfile
    container_name: admin
    volumes:
      - ./src:/var/www/html:delegated
    networks:
      - laravel

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    networks:
      - laravel

  composer:
    build:
      context: .
      dockerfile: composer.dockerfile
    container_name: composer
    volumes:
      - ./src:/var/www/html
#    working_dir: /var/www/html
    user: laravel
    entrypoint: ['composer', '--ignore-platform-reqs']
    networks:
      - laravel

  npm:
    image: node:alpine
    container_name: npm
    volumes:
      - ./src:/var/www/html
    ports:
      - 3000:3000
      - 3001:3001
#    working_dir: /var/www/html
    entrypoint: ['npm']
    networks:
      - laravel

  client:
    build:
      context: .
      dockerfile: vue.dockerfile
    container_name: vue
    ports:
      - "8090:8080"
    volumes:
      - ./src/:/app
    working_dir: /app/client
    entrypoint: ['npm', 'run', 'dev']
    environment:
      - HOST=0.0.0.0
      - poll=true
    networks:
      - laravel

  fcmlib:
    build:
      context: .
      dockerfile: vue.dockerfile
    container_name: fcmlib
    ports:
      - "8080:8080"
    volumes:
      - ./fcmlib:/app
    working_dir: /app
    entrypoint: ['npm', 'run', 'serve']
    environment:
      - HOST=0.0.0.0
      - poll=true
    networks:
      - laravel

  artisan:
    build:
      context: .
      dockerfile: php.dockerfile
    container_name: artisan
    volumes:
      - ./src:/var/www/html:delegated
    depends_on:
      - mysql
#    working_dir: /var/www/html
    user: laravel
    entrypoint: ['php', 'artisan']
    networks:
      - laravel

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    ports:
      - 1025:1025
      - 8025:8025
    networks:
      - laravel
